@model IEnumerable<MVCUniversity.Models.Course>
@{
    ViewData["Title"] = "My Courses";
}
<h1>My Courses</h1>
@{ 
    var data = ViewBag.Message;
}
<h6>
    @data.FullName, @data.AcademicRank
</h6>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstTeacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondTeacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Programme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstTeacher.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondTeacher.FullName)
            </td>
            <td>
                <a asp-action="EnrollmentsCourse" asp-route-id="@item.Id">Students</a>
            </td>
        </tr>
        }
    </tbody>
</table>
