@model MVCUniversity.ViewModel.EnrollmentsCourseStudentIdYearSemesterViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="EnrollStudents">Enroll Students</a> | <a asp-action="UnEnrollStudents">Unenroll Students</a>
</p>
<form asp-controller="Enrollments" asp-action="Index" method="get">
    <p>
        Course: <input type="text" asp-for="SearchStringCourse" />
        Student Id: <input type="text" asp-for="SearchStringStudentId" />
        Year:
        <select asp-for="EnrollmentsYear" asp-items="Model.Year">
            <option value="">All</option>
        </select>
        Semester:
        <select asp-for="EnrollmentsSemester" asp-items="Model.Semester">
            <option value="">All</option>
        </select>

        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Enrollments[0].Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollments[0].Student.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollments[0].Student.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollments[0].Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollments[0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollments[0].FinishDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Enrollments) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
