@model MVCUniversity.Models.Teacher

@{
    ViewData["Title"] = "Details";
    var photoPath = "~/images/" + (Model.profilePicture ?? "nopicture.jpg");
}

<h1>Details</h1>

<div>
    <h4>Teacher</h4>
    <hr />
    <img src="@photoPath"
         class="rounded-circle"         
         height="200" width="200"
         asp-append-version="true" />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Degree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Degree)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicRank)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcademicRank)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OfficeNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HireDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoursesFirst)
        </dt>
        <dd class="col-sm-10">
            @foreach (var courses in Model.CoursesFirst)
            {
                <a asp-controller="Teachers" asp-action="Details" asp-route-id="@courses.Id">
                    @courses.Title
                </a> <br />
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoursesSecond)
        </dt>
        <dd class="col-sm-10">
            @foreach (var courses in Model.CoursesSecond)
            {
                <a asp-controller="Teachers" asp-action="Details" asp-route-id="@courses.Id">
                    @courses.Title
                </a> <br />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
